# Great reference:  http://www.appveyor.com/docs/appveyor-yml

version: 1.0.{build}
skip_tags: false
configuration: Release
init:
- ps: >-
    $parsedReleaseBuildVersion = $env:APPVEYOR_REPO_TAG_NAME -Match "(\d+.\d+.\d+(.\d+)?)"
    
    If($env:appveyor_repo_tag -AND $parsedReleaseBuildVersion) {
      $env:BuildVersion = $matches[0]
      $env:IsGithubRelease = $TRUE
    }
    else {
      $env:BuildVersion = $env:appveyor_build_version
      $env:IsGithubRelease = ""
    }
    
    Write-Host "Build Version: " $env:BuildVersion
    
    Write-Host "appveyor_build_version Variable: " $env:appveyor_build_version
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: $(BuildVersion)
  assembly_file_version: $(BuildVersion)
  assembly_informational_version: $(BuildVersion)
nuget:
  account_feed: true
  project_feed: true
before_build:
- nuget restore {{SOLUTION_FILE}}

build:
  project: {{SOLUTION_FILE}}
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal

before_package:
- ps: Invoke-Expression {{PROJECT_PATH}}\Chocolatey\PrePackage.ps1
- cpack {{PROJECT_PATH}}\Chocolatey\package.nuspec --version %BuildVersion%

artifacts:
- path: {{ZIP_ARTIFACT_PATH}}
  name: bin.zip
- path: {{CHOCOLATEY_PACKAGE_PATH}}
  name: ChocolateyPackage

deploy:
- provider: GitHub
  auth_token:
    secure: <replace with your encrypted GitHub token>
  artifact: 
  prerelease: false
  on:
    branch: master
    IsGithubRelease: true
- provider: NuGet
  server: https://chocolatey.org/
  api_key:
    secure: <Replace with your encrypted Nuget.org API token>
  artifact: ChocolateyPackage
  on:
    branch: master
    IsGithubRelease: true